.bottomBar {
    position: fixed;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    width: 370px;
    margin-bottom: 12px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'JetBrains Mono', monospace;
    font-size: 13px;
    gap: 8px;
    text-align: center;
    height: 72px;
    background-color: rgba(16, 149, 72, 0.7); /* green with opacity */
    color: rgb(48, 48, 48);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}

.link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E9E9E9;
    border-radius: 10px;
    padding: 2px;
    width: 200px;
}   

.active {
    background-color: #fff;
}

.linkText {
    color: rgb(48, 48, 48);
}

.active .linkText {
    color: #109548;
}