@import "tailwindcss";
@plugin './hero.js';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

body {
  font-family: 'JetBrains Mono', monospace;
}
