@import "tailwindcss";
@plugin './hero.js';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

body {
  font-family: 'JetBrains Mono', monospace;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  align-items: center;
  background-color: #c1bcbc;
}

h3 {
  color: #171614;
  font-size: 20px;
  text-align: left !important;
  font-style: italic;
  margin-bottom: 10px;
  width: 100%;
  display: block;
}

p {
  font-size: 13px;
}