@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

.page {
  font-family: 'JetBrains Mono', monospace;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
  background-color: #ffffff;
  width: 400px;
  align-items: center;
}

.input {
  margin-bottom: 25px;
}

.mapInput {
  margin-bottom: 10px;      
}

.button {
  background-color: #109548;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.favButton {
  background-color: rgba(16, 149, 72, 0.6); /* Green */
  margin-top: 0px;
  margin-bottom: 20px;
  border: none;
  color: white;
  padding: 10px 40px;
  text-align: center;
  font-size: 16px;
  width: 50%;
  cursor: pointer;
}

.clicked {
  background-color: rgba(16, 149, 72, 1);
  color: white;
}

.homeButton {
  position: absolute;
  top: 10px;
  right: 840px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.title {
  color: #007EA7;
  font-size: 18px;
  font-weight: 500;
}

.seperator {
  width: 100%;
  height: 4px;
  background-color: #007EA7;
  margin-bottom: 20px;
  border: none;
  border-radius: 20px;
}

.infoBlock {
  background-color: #007EA7;
  width: 100%;
  border-radius: 12px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  gap: 32px;
  margin-bottom: 10px;
}

.detailBlock {
  background-color: #EDFCFF;
  border:#007EA7 2px solid;
  width: 100%;
  border-radius: 12px;
  padding: 10px;
  display: flex;
  margin: 10px 0;
  flex-direction: row;
  align-items: center;
  color: black;
  gap: 20px;
}

.details {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.location {
  font-weight: 600;
}

.recommendation {
  font-style: italic;
  font-weight: 600;
  color: rgba(16, 149, 72, 1);;
}

.badReccomendation {
  font-style: italic;
  font-weight: 600;
  color: #DE9151
}

.address {
  font-style: bold;
  font-size: 12px;
  color: #3f3f3f;
}

.switchContainer {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  text-align: left;
  font-size: 16px;
}