@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

.page {
  font-family: 'JetBrains Mono', monospace;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
  background-color: #ffffff;
  width: 400px;
  align-items: center;
}

.input {
  margin-bottom: 25px;
}

.mapInput {
  margin-bottom: 10px;      
}

.button {
  background-color: #109548; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.title {
  color: #007EA7;
  font-size: 18px;
  font-weight: 500;
}

.seperator {
  width: 100%;
  height: 4px;
  background-color: #007EA7;
  margin-bottom: 20px;
}